.agent-profile-side {
    flex: 4;
    height: 100vh;
    overflow: scroll;
    width: 100%;
    /* line-height: 300px; */
}

.agent-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 150px;
}

.agent-profile-information {
    /* margin: auto; */
    text-align: center;
}

.agent-role{
    margin-bottom: 25px;
    color: #004585;
}

.agent-profile-side h2 {
    border-bottom: 1px #D1D3D5 solid;
    line-height: 50px;
    margin: 20px;
}

.agent-bio {
    margin: 20px;
    text-align: left;
    width: 80%;
}

.contact-buttons {
    margin-top: 25px;
    text-align: center;
}

.contact-button {
    width: 200px;
    height: 35px;
    margin: 10px;
    border: 1px #00837B solid;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    color: #0075E4;;
}

.contact-button:hover {
    border: none;
    color: #FFF;
    background-color: #00837B;
}

.email-contact-button {
    background-color: #0075E4;
    color: #FFF;
    border: none;
}

.email-contact-button:hover {
    background-color: #004585;
}

.agent-market {
    list-style: none;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #C0C0C0;
    transition: all 0.5s ease-in-out;
    border-radius: 50px;
    cursor: pointer;
    flex: 1;
}

.agent-market:hover {
    background-color: #A9A9A9
}


.agent-markets-list {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.agent-contact {
    border-bottom: 1px #DEDEDE solid;
    padding: 20px;
    display: flex;
    flex-direction: row;
    /* font-size: ; */
}

.agent-contact img {
    padding-right: 20px;
}

.agent-ranking {
    margin: 80px 0 80px 20px;
    display: flex;
}

.agent-ranking-title {
    display: inline-block;
    font-size: large;
    text-align: left;
    width: 80%;
    margin: auto;
    justify-content: left;
}

.agent-ranking-number {
    padding: 25px;
    font-size: 2em;
    font-weight: 700;
    margin-right: 15px;
    background-color: #FBB116;
}

.agent-ranking-picture{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.agent-rating-wrapper{
    margin: auto;
    text-align: center;
    margin-top: -25px;
    z-index: 800;
    position: relative;
    display: flex;
    padding: 3px 15px;
    background-color: #FBB116;
    width: 45px;
    font-weight: 600;
    border-radius: 100px;
    color: #FFF;
}

.agent-rating{
    font-size: large;
    margin-left: 5px;
}

@media (max-width: 770px){
    .agent-profile-side {
        flex: none;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        overflow: scroll;
        width: 100%;
        overflow: hidden;
        /* line-height: 300px; */
    }

    .contact-buttons{
        position: fixed;
        bottom: 0;
        background-color: #FFF;
        width: 100%;
        z-index: 800;
    }

    .about{
        display: none;
    }

    .markets{
        display: none;
    }

    .rankings{
        display: none;
    }

    .contact-button{
        width: 40%;
    }

    .agent-profile-side{
        border-bottom: #808080 2px solid;
    }
}