body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* padding: 15px; */
}

.container {
    display: flex;
}

/* Styling for the navigation bar */
.navigation-bar {
    background-color: aquamarine;

}

@media (max-width: 770px){
    .container{
        display: flex;
        flex-direction: column;
    }
}

/* Styling for the agent's profile on the left side of the page */

/* Styling for agents properties list on the right side of the page*/