body {
    margin: 0;
}

.container {
    display: flex;
}

/* This part contains styling for the agent's profile on the side of the page */
.agent-profile-side {
    flex: 3;
    height: 100vh;
    color: white;
    overflow: scroll;
    line-height: 300px;
}

.agent-properties {
    flex: 10;
    height: 100vh;
    background-color: pink;
    overflow: scroll;
    line-height: 300px;
}

.properties {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}